<div class="page-header">
  <h1>About Bloccit <small> A 3-Dimensional Social App </small> </h1>
  <p>This Reddit-inspired app allows users to create their own posts and topics, in addition to commenting and voting on others'.</p>
</div>

<br>

<div class="caption">
What Makes <strong>Bloccit</strong> Unique?
</div>

<br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Topics</h3>
  </div>
  <div class="panel-body">
    Bloccit's topics allow users to read posts that pertain to their interests.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Comment on Other Posts</h3>
  </div>
  <div class="panel-body">
    Bloccit is designed to be interactive. Create interaction by commenting on others' posts.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Vote!</h3>
  </div>
  <div class="panel-body">
    Love a post? Give it an up-vote with Bloccit's voting feature.
  </div>
</div>
